<div class="page__card">
  <%= form_with(model: [@organization, @transfer], local: true, class: "form") do |form| %>
    <% if @transfer.errors.any? %>
      <div class="form__errors">
        <h4><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h4>
        <ul>
          <% @transfer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form__group">
      <%= form.label :amount, class: "form__label" %>
      <%= money_field(form, :amount, class: "form__input") %>
    </div>

    <div class="form__group">
      <%= form.label :debit_account_id, "From Account", class: "form__label" %>
      <%= form.collection_select :debit_account_id, @accounts, :id, :name, 
          { prompt: "Select account" }, 
          { class: "form__select" } %>
    </div>

    <div class="form__group">
      <%= form.label :credit_account_id, "To Account", class: "form__label" %>
      <%= form.collection_select :credit_account_id, @accounts, :id, :name, 
          { prompt: "Select account" }, 
          { class: "form__select" } %>
    </div>

    <div class="form__group">
      <label class="form__label">Status</label>
      <div class="form__radio-group">
        <div class="form__radio">
          <%= form.radio_button :status, "pending", checked: true, class: "form__radio-input" %>
          <%= form.label :status_pending, "Pending", class: "form__radio-label" %>
        </div>
        <div class="form__radio">
          <%= form.radio_button :status, "posted", class: "form__radio-input" %>
          <%= form.label :status_posted, "Posted", class: "form__radio-label" %>
        </div>
      </div>
    </div>

    <%= form.submit "Save Transfer", class: "btn btn--primary" %>
  <% end %>

  <div class="form__actions">
    <%= cancel_button organization_transfers_path(@organization) %>
  </div>
</div>