<div class="page">
  <div class="page__header">
    <h1>Edit Account</h1>
  </div>

  <div class="page__content">
    <div class="page__card">
      <%= form_with model: @account, url: organization_account_path(current_organization, @account), method: :patch, class: "form" do |form| %>
        <% if @account.errors.any? %>
          <div class="form__errors">
            <h4><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h4>
            <ul>
              <% @account.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form__group">
          <%= form.label :name, class: "form__label" %>
          <%= form.text_field :name, class: "form__input", placeholder: "e.g., Checking Account, Cash Wallet", autocomplete: "off" %>
        </div>

        <div class="form__group">
          <label class="form__label">Account Type</label>
          <div class="form__readonly">
            <%= @account.kind_short.humanize %>
          </div>
        </div>

        <% if @account.credit_card? %>
          <%= render 'credit_card_fields', form: form %>
        <% end %>

        <div class="form__actions">
          <%= form.submit "Update Account", class: "btn btn--primary" %>
          <%= cancel_button organization_account_path(current_organization, @account) %>
        </div>
      <% end %>
    </div>
  </div>
</div>